#about-wrapper {
  margin: 5% auto;
  width: 900px;
  height: 730px;
  h2 {
    color: $black;
    margin: 0 0 20px 0;
    font-size: 3rem;
    text-align: center;
  }
  #image {
    background: url('assets/images/Profile.jpeg');
    height: 350px;
    width: 350px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
  }
  #about-paragraph-wrapper {
    background: $secondary;
    color: $white;
    width: 64%;
    margin: 0 auto;
    padding: 70px 5% 15px 5%;
    box-sizing: border-box;
    position: relative;
    bottom: 80px;
    z-index: -3;
  }
}
