#about-wrapper {
  margin: 20% auto;
  width: 65%;
  h2 {
    color: $black;
    display: inline-block;
    margin: 0;
    font-size: 3rem;
    text-align: center;
  }
  #image {
    background: url('assets/images/Profile.jpeg');
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-size: cover;
    float: left;
    margin-right: 10px;
    opacity: 0.8;
  }
  #about-paragraph-wrapper {
    background: #837777;
    color: $white;
    display: inline-block;
    width: 64%;
    position: relative;
    top: 40px;
    right: 50px;
    padding: 15px 5%;
    box-sizing: border-box;
  }
}
