#featured-project-section {
  a {
    text-decoration: none;
  }
  #featured-project {
    height: 356px;
    background-position-y: -40px;
    width: 100%;
    background-size: cover;
    &::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(101,144,177, 0.8);
      height: 356px;
      width: 100%;
    }
    h3 {
      font-size: 2rem;
      color: $white;
      text-align: center;
      margin: 0;
      padding-top: 7rem;
      position: relative;
      z-index: 5;
    }
    h4 {
      font-size: 1.7rem;
      color: $white;
      margin: 0;
      text-align: center;
      position: relative;
      z-index: 5;
    }
    p {
      font-size: 1.2rem;
      color: $white;
      text-align: center;
      position: relative;
      z-index: 5;
      margin-bottom: 0;
      &:last-child {
        margin: 0;
        text-decoration: underline;
        &:hover {
          color: $black;
        }
      }
    }
  }
}

@media (min-width: 950px) {
  #featured-project-section {
    #featured-project {
      height: 500px;
      &::before {
        height: 500px;
      }
      h3 {
        padding-top: 12rem;
      }
      p {
        width: 85%;
        margin: 0 auto;
      }
    }
  }
}
