#project-list {
  padding: 0;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 6rem auto;
  li {
    list-style-type: none;
    margin: 20px 15px;
    display: flex;
    width: calc(100% / 3 - 30px);
    border: 1px solid $gray;
    box-sizing: border-box;
    padding: 15px 0;
    &:hover {
      border-bottom: 5px solid $main;
    }
    a {
      text-decoration: none;
      color: $black;
    }
    img {
      width: 70%;
      max-width: 475px;
      display: block;
      margin: 0 auto;
      object-fit: contain;
    }
    h4 {
      text-align: center;
    }
    p {
      width: 60%;
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media (max-width: 900px) {
  #project-list {
    li {
      width: calc(100% / 2 - 30px);
    }
  }
}

@media (max-width: 600px) {
  #project-list {
    li {
      width: calc(100% - 30px);
    }
  }
}
