@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import 'header';
@import 'about';
@import 'recent';
@import 'FeaturedProject';

body {
  font-family: 'Karla';
  margin: 0;
  color: $black;
}
